.navbar {
    background-color: rgb(61, 56, 56);
    height: 96px;
    width: 100%;
    border-radius: 10px;
    position: fixed;
    top: 0;
    background-color: rgb(61, 56, 56); /* Keep your desired background color */
    transition: top 0.3s ease-in-out;
    z-index: 1000;
}

/* When the navbar is hidden, it's moved up and out of the view */
.navbar.hidden {
    top: -100px; /* Hide navbar by moving it upwards */
}

/* When the navbar is visible, it's positioned at the top */
.navbar.visible {
    top: 0;
}
